h1{
  font-family: 'Fredoka One', cursive;
  color: #393d72;
}
h2, h3, h4, h5, h6, p, span, a, ul, li, button{
  font-family: 'Rubik', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.brand-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #ff4880;
  padding: 26px 50px;
  font-size: 18px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-out 0s;
  background-color: #ff4880;;
}
.brand-btn:hover {
  background-color: #ffae00;
  color: #fff;
  border-color: #ffae00;
}
.btn-icon{
  font-size: 20px;
  margin-left: 12px;
}
.brand-title{
  text-align: center;
}
.brand-title h4{
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  color: #ff4880;
}
.brand-title h1{
  font-size: 60px;
  padding-top: 20px;
}
